@use "/src/style/varibles" as v;

$size: 35px;
$padding: var(--padding-xs);
.app {
  background-color: var(--bg-color);
  width: 100%;
  height: 100vh;
  color: var(--text-color);
}

// nav

.nav {
  @include v.flex-space-between-row;
  padding: var(--padding-xs) var(--padding-sm);
  background-color: #0d090883;
  box-shadow: 0 1px 1px 0 rgb(255 255 255 / 5%);

  &_left {
    display: inherit;
    gap: var(--gap-sm);
    align-items: center;
    .main {
      padding: $padding;
      display: inherit;
      justify-content: center;
      align-items: center;
      background-color: var(--btn-color);
      cursor: pointer;
      border-radius: var(--border-radius-md);
      svg {
        width: 30px;
        height: 30px;
      }
    }
    .btn-dev {
      padding: $padding;
      cursor: pointer;
      svg {
        width: $size;
        height: $size;
      }
    }
  }

  &_reight {
    display: inherit;
    align-items: inherit;
    gap: var(--gap-sm);
    .input-box {
      border: 1px solid var(--boredr-color);
      padding: $padding;
      border-radius: var(--border-radius-md);
      display: inherit;
      align-items: inherit;
      gap: var(--gap-xxs);

      input {
        background-color: transparent;
        font-size: var(--font-size-sm);
        color: var(--text-color);
        &::placeholder {
          font-weight: var(--font-weight-main);
          text-transform: capitalize;
        }
      }
      svg {
        color: var(--boredr-color);
      }
    }
    .profile {
      padding: $padding;
      background-color: black;
      width: $size;
      height: $size;
      border-radius: 50%;
      border: 1px solid var(--boredr-color);
      cursor: pointer;
    }
  }
}

// profile
.box-profile {
  width: 25%;
  padding: var(--padding-sm);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-md);
  border: 1px solid var(--boredr-color);
  margin: 20px;
  &_avater {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border:1px solid var(--boredr-color) ;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_descraption {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: var(--gap-sm);
    span[data-title] {
      font-size: var(--font-size-lg);
    }
    span[data-descraption] {
      font-size: var(--font-size-md);
    }
    .flowers {
      display: flex;
      gap: var(--gap-xxs);
      a {
        display: flex;
        gap: 2px;
        color: #9198a1;
        transition: color var(--transition-main);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-main);
        span {
          color: var(--text-color);
        }
        &:hover {
          color: var(--hover-color);
          span {
            color: inherit;
          }

        }
      }
    }
  }
}
