@use "/src/style/variables" as v;

$size: 35px;
$padding: var(--padding-xs);
.app {
  width: 100%;
  color: var(--text-color);
}

// nav

.nav {
  @include v.flex-space-between-row;
  padding: var(--padding-xs) var(--padding-sm);
  background-color: #0d090883;
  box-shadow: 0 1px 1px 0 rgb(255 255 255 / 5%);

  &_left {
    display: flex;
    gap: var(--gap-sm);
    align-items: center;
    .main {
      padding: $padding;
      display: inherit;
      justify-content: center;
      align-items: center;
      background-color: var(--btn-color);
      cursor: pointer;
      border-radius: var(--border-radius-md);
      svg {
        width: 30px;
        height: 30px;
      }
    }
    .btn-dev {
      padding: $padding;
      cursor: pointer;
      svg {
        width: $size;
        height: $size;
      }
    }
  }

  &_right {
    display: flex;
    align-items: inherit;
    gap: var(--gap-sm);

    .profile {
      padding: $padding;
      background-color: black;
      width: $size;
      height: $size;
      border-radius: 50%;
      border: 1px solid var(--border-color);
      cursor: pointer;
    }
  }
}

.input-box {
  border: 1px solid var(--border-color);
  padding: $padding;
  border-radius: var(--border-radius-md);
  display: flex;
  align-items: center;
  gap: var(--gap-xxs);
  position: relative;
  transition: border-radius var(--transition-main);

  input {
    background-color: transparent;
    font-size: var(--font-size-sm);
    color: var(--text-color);
    &::placeholder {
      font-weight: var(--font-weight-main);
      text-transform: capitalize;
    }
  }
  svg {
    color: var(--border-color);
  }
  .search-outbut {
    padding: var(--padding-xs);
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 0px;
    min-height: auto;
    background-color: inherit;
    top: 42px;
    left: 0;
    opacity: 0;
    transition: height var(--transition-main), top var(--transition-main);
    border: 1px solid var(--border-color);
    border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    border-top-color: transparent ;
    scrollbar-color: var(--bg-color) transparent;
    display: flex;
    flex-direction: column;
    gap: var(--gap-xxs);
    &.active {
      visibility: visible;
      opacity: 1;
      top: 45px;
      height: auto;
      max-height: 300px;
      left: 0;
      button {
        width: 100%;
        text-align: start;
        background-color: transparent;
        cursor: pointer;
        border: none;
        .card {
          padding: var(--padding-xxs) 0;
          color: var(--text-color);
          font-size: var(--font-size-sm);
          font-weight: var(--font-weight-bold);
          display: flex;
          gap: var(--gap-xs);
        }
      }
    }
  }
  &:focus-within {
    background-color: #42424242;
  }
  &.active {
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
    background-color: #42424242;
  }
}

// repo
.repo {
  display: flex;
  align-items: start;
  width: 100%;
  @media (max-width: v.$width-xl) {
    flex-direction: column;
    .box-profile {
      width: 50%;
    }
    .repositories {
      width: 100%;
    }
  }
}

// تحريك الكلاس للخارج ليعمل في حالة البحث الأولى وحالة التحميل
.repositories.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; // تقليلها قليلاً لترك مساحة للـ Nav
  gap: var(--gap-sm);
  width: 100%;
  & > p {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
  }
}

// profile
.box-profile {
  width: 25%;
  padding: var(--padding-sm);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-md);
  border: 1px solid var(--border-color);
  margin: var(--margin-sm);
  &_avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 75%;
    border: 1px solid var(--border-color);
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_description {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: var(--gap-sm);
    span[data-title] {
      font-size: var(--font-size-lg);
    }
    span[data-description] {
      font-size: var(--font-size-md);
    }
    .followers {
      display: flex;
      gap: var(--gap-xxs);
      a {
        display: flex;
        gap: 2px;
        color: #9198a1;
        transition: color var(--transition-main);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-main);
        span {
          color: var(--text-color);
        }
        &:hover {
          color: var(--hover-color);
          span {
            color: inherit;
          }
        }
      }
    }
  }
}

// Repositories

.repost {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: var(--gap-md);
  .repositories {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    padding: var(--padding-sm);
    width: 70%;
    box-shadow: 0 0px 4px -2px rgba(250, 245, 245, 0.47);
    flex: 1;
    &_top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .first {
        a {
          color: var(--hover-color);
        }
      }
    }
  }
}
