@use "/src/App.scss";
@use "/src/style/variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  width: 98vw;
  height: 100vh;
  background-color: var(--bg-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

button {
  background-color: var(--btn-color);
  box-shadow: var(--box-shadow-btn);
  border: 1px solid var(--border-color);
}

input {
  outline: none;
  border: none;
}

$heading-sizes: (
  h1: 2.5rem,
  h2: 2rem,
  h3: 1.75rem,
);

@each $tag, $size in $heading-sizes {
  #{$tag} {
    font-size: $size;
    color: var(--text-color);
  }
}
